@import 'reset.css';

/* * {
  border: 1px solid red;
} */

/* Generals*/
html,
body {
  background-color: #252424;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  position: relative;
}

/*Nav*/
.nav {
  background-image: url('./../img/Vector-nav.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  min-height: 300px;
}

.nav-menu {
  position: fixed;

  top: 0;
  left: -100%;
  width: 30%;
  height: 100vh;
  background-color: #090909;
  color: #fff;
  z-index: 10;
  transition: 0.5s all ease;
}
.nav-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.nav-menu__active {
  left: 0;
  top: 0;
}

/* Nav-burger*/
.wrapper {
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  width: 33px;
  height: 22px;
  cursor: pointer;
  z-index: 11;
  transition: 2s all;
}

.burger span,
.burger span::after,
.burger span::before {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.burger span::after {
  content: ' ';
  transform: translateY(8px);
}

.burger span::before {
  content: ' ';
  transform: translateY(-8px);
}

/* Activation span*/
.burger__active span::after {
  transform: rotate(-90deg);
}
.burger__active span::before {
  display: none;
}
.burger__active span {
  transform: rotate(45deg);
  z-index: 11;
}

/*Main section1*/
.section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 4;
  gap: 30px;
}

/* Main Left*/
.section1__content-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
  row-gap: 30px;
}

.title {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
}

.content-left__text {
  max-width: 570px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.content-left__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.content-left__btn {
  display: flex;
  width: 300px;
  height: 60px;

  color: #fff;
  font-size: 20px;
  justify-content: center;
  align-items: center;

  background: linear-gradient(93.71deg, #7a0bc0 13.27%, #fa58b6 101.64%);
  border-radius: 30px;
}

.content-left__btn:active {
  position: relative;
  top: 2px;
}

/*Main Right*/
.section1__content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-speed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s all ease-in;
}

/* Speedometer */

.speed-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 370px;
  height: 370px;

  border: 5px solid white;
  border-radius: 50%;
  margin-right: 50px;

  transform-origin: center;
  transform: rotate(-90deg);
  stroke: #7a0bc0;
}
.progress-ring__circle {
  transition: 0.5s all ease-in;
}

.speed-arrow {
  position: absolute;
  display: flex;
  justify-content: center;

  width: 100px;
  height: 9px;
  top: 184px;
  left: 84px;
  transition: 0.5s all ease-in;

  border-radius: 13px;
  transform-origin: 100% 50%;
}

/* Active lvl */

.lvl-1 {
  background-color: #7a0bc0;
  transform: rotate(-62deg);
}

.lvl-2 {
  background-color: #0b8ac0;
  transform: rotate(57deg);
}

.lvl-3 {
  background-color: #fa58b6;
  transform: rotate(176deg);
}

/* Lvl's btn */
.right-lvl {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.lvl-btn {
  text-align: center;
  width: 136px;
  height: 38px;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  color: #fff;
}

.lvl-btn:hover {
  background-color: #7a0bc0;
  box-shadow: -3px 22px 15px 9px rgba(2, 2, 2, 0.2);
}

.lvl-btn:active {
  position: relative;
  top: 2px;
}

/* Main section2 */
.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 65%;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}
.section_2-active {
  transform: translateX(-100%);
}
.none {
  display: none;
}

.section2__content {
  display: flex;
  flex-direction: row;
}

.section2-title {
}

/*Footer*/
.footer {
  margin-top: auto;
}

.footer {
  display: flex;
  background-image: url('./../img/Vector-foot.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.25);
  min-height: 145px;
}
